*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

* h1{
	font-family: 'Dancing Script', cursive;
}
.container{
	width:90%;
}

.left span{
	
	border: 5px solid red;
    padding: 0px 14px;
    font-size: 1.2em;
    color: black;
	font-weight:bold;
}	

.header{
	background-color:black;
	width:100%;
	height:auto;
}
.own{
	position:sticky;
	top:0;
	    background: linear-gradient(45deg, #1ebeb4, #d4dddcba);
}


@media(min-width:390px){
.banner{
	
	width:100%;
	height:auto;
}

.ban img{
	width:100%;
	height:auto;
	border-radius:50%;
}
.ban{
width:100%;
}
.ban-1 p,h1,h3{
	
	text-align:center;
	color:black;
}

.ban-1 button{
	width:100px;
	height:40px;
	
	background-color:#0bceaf;
	color:white;
	border-color: 2px soild white;
	border-radius:50px;
	
	}
	.ban-1{
		text-align:center;
	}
.ban-1 a{
	text-decoration:none;
}	
	
}



@media(min-width:768px){
.banner{
	
	width:100%;
	height:auto;
	padding:20px;
}

.ban img{
	width:100%;
	height:auto;
	border-radius:50%;
}
.ban{
width:100%;
}
.ban-1 p,h1,h3{
	
	text-align:center;
	color:black;
}

.ban-1 button{
	width:150px;
	height:40px;
	justify-contanct:center;
	background-color:#0bceaf;
	color:white;
	border-color: 2px soild white;
	border-radius:50px;
	display:flex;
	margin:auto;
	padding:10px 5px;
	
	
	}
.ban-1 a{
	text-decoration:none;
}	
	
}


@media(min-width:1024px){
.banner{
	
	width:100%;
	height:auto;
	padding:20px;
}

.ban img{
	
	border-radius:50%;
}
.ban{
width:50%;
}
.ban-1{
	width:50%;
	padding-top:200px;
}

.banner-1{
	display:flex;
}
.ban-1 p{
	
	text-align:center;
	color:black;
	font-size:2.5rem;
	
}
.ban-1 h1,h3{
	text-align:center;
	color:black;
	font-size:3rem;
}

.ban-1 button{
	width:150px;
	height:40px;
	justify-contanct:center;
	background-color:#0bceaf;
	color:white;
	border-color: 2px soild white;
	border-radius:50px;
	display:flex;
	margin:auto;
	padding:10px;
	
	
	}
.ban-1 span{
	color:#0bceaf;
}	
.ban-1 a{
	text-decoration:none;
}	
	
}
/*vasanth start*/

@media(min-width:390px){
.vasanth{
	margin-top:4rem;
	background-color:black;
	height:auto;
	
}

.image{
	width:100%;
}
.image img{
	width:90%;
}

.image{
	width:100%;
}

.call span{
	color:#0bceaf;
	
}

.call p{
	margin-top:2rem;
}

.call-1 li{
	line-height:2rem;
}

.call-2 li{
	line-height:2rem;
}
.ab span{
	color:#0bceaf;
	font-size:3rem;
}
.vasanth h1{
	color:white;
}
.call span{
	color:red;
	font-size:3rem;
	text-align:center;
}
.call p{
	color:white;
	
} 

.call li{
  list-style:none;
	color:white;
	
	margin-bottom:1rem;
}

.call-1 strong{
	color:#0bceaf;
}
.call-2 strong{
	color:#0bceaf;
}


@media(min-width:768px){
.vasanth{
	margin-top:4rem;
	background-color:black;
	height:auto;
	
}

.image{
	width:100%;
}
.image img{
	width:90%;
}

.image{
	width:100%;
}

.call span{
	color:#0bceaf;
	
}

.call p{
	margin-top:2rem;
}

.call-1 li{
	line-height:2rem;
}

.call-2 li{
	line-height:2rem;
}
.ab span{
	color:#0bceaf;
	font-size:3rem;
}
.call span{
	color:red;
	font-size:3rem;
	text-align:center;
}
.call p{
	color:white;
	
} 

.call li{
  list-style:none;
	color:white;
	
	margin-bottom:1rem;
}

.call-1 strong{
	color:orange;
}
.call-2 strong{
	color:orange;
}
.call-main{
	display:flex;
}
.call-1{
	width:50%;
	
}
.call-2{
	width:50%;
}
@media(min-width:1024px){

.vasanth{
	margin-top:4rem;
	    background: linear-gradient(45deg, black, #00000082);
	padding:30px;
}

.vasanth h1 span{
	font-size:7rem;
}

.ab span{
	color:#0bceaf;
	font-size:3rem;
}

.image{
	width:50%;
}
.image img{
	width:350px;
	height:auto;
	margin:auto;
	    border-radius: 50px;
}

.index{
	width:50%;
}
.vasa-main{
	display:flex;
}

.call h1{
	margin-bottom:1rem;
}

.call span{
	color:red;
	font-size:3rem;
	text-align:center;
}
.call p{
	color:white;
	
} 

.call li{
  list-style:none;
	color:white;
	
	margin-bottom:1rem;
}
.call-1{
	position:relative;
}
.call-1 .cir{
	position:relative;

}
.call-1 h1{
	font-size:20px;

}
.call-main{
	display:flex;
}

.call-1{
	width:50%;
}
.call-2{
	width:50%;
}

.call-1 strong{
	color:#0bceaf;
}
.call-2 strong{
	color:#0bceaf;
}

}	
/*skills start*/
.sy h2{
	margin-left:1.5rem;
	color:black;
}

/*skills end*/

 /*education start*/

	@media(min-width:390px){
.re span{
	color:#0bceaf;
}
	
.education{
	background-color:red;
	width:100%;
	height:950px;
}
.edu p{
	color:white;
	text-align:center;
	margin-bottom:3rem;
	
}
.edu-first p,h2{
	color:white;
}
	
.edu-two p{
	color:white;
}
.edu-3 p,b{
	color:white;
}

.edu-4 p{
	color:white;
}
.edu-5 p{
	color:white;
}
}



@media(min-width:768px){
.re span{
	color:#0bceaf;
}
	
.education{
	background-color:black;
	width:100%;
	height:950px;
}
.edu p{
	color:white;
	text-align:center;
	margin-bottom:3rem;
	
}
.edu-first p,h2{
	color:white;
}
	
.edu-two p{
	color:white;
}
.edu-3 p,b{
	color:white;
}

.edu-4 p{
	color:white;
}
.edu-5 p{
	color:white;
}
}

@media(min-width:1024px){
.re span{
	color:#0bceaf;
	font-size:4rem;
}
	.education{
		background-color:black;
		width:100%;
		height:650px;
		padding:20px;
	}
	.edu-flex{
		display:flex;
	}
	.edu-first{
		width:50%;
	}
	.edu-main1{
		width:50%;
	}
}
	/*education end*/
/*add start*/
@media(min-width:390px){
	.ad span{
		color:#0bceaf;
}
	}
	.add{
		margin-top:3rem;
	}
	.add h1{
		color:black;
	}
	
	.add-1{
		width:100%;
		height:auto;
		background:linear-gradient(45deg, black, #00000082);
		    border-radius: 20px;
			    padding: 20px
	}
	
	.add-1:hover{
		transform:translateY(-20px);
		border-bottom:12px solid #0bceaf;
		transition:2s ease;
	}
	
	.add-1 iconify-icon{
		
		
		font-size:3rem;
		color:#0bceaf;
		    display: flex;
    margin: auto;
    justify-content: center;
	}
	.add-1 h1{
		color:white;
		text-align:center;
		
	}
.add-1 p{
	
	color:white;
		text-align:center;
	
}
}

@media(min-width:768px){
		.ad span{
		color:#0bceaf;
}
	.add-main{
		display:flex;
		justify-content:space-between;
		flex-wrap:wrap;
	}
	.add{
		margin-top:3rem;
	}
	
	.add-1{
		width:49%;
		height:auto;
		background:linear-gradient(45deg, black, #00000082);
	        margin-top: 2rem;
			    border-radius: 20px;
				    padding: 20px
	}
	
	.add-1 iconify-icon{
		
		
		font-size:3rem;
		color:#0bceaf;
		    display: flex;
    margin: auto;
    justify-content: center;
	}
	.add-1 h1{
		color:white;
		text-align:center;
		
	}
.add-1 p{
	
	color:white;
		text-align:center;
	
}
}

@media(min-width:1024px){
		.ad span{
		color:#0bceaf;
}
	.add-main{
		display:flex;
		justify-content:space-between;
		flex-wrap:wrap;
	}
	.add{
		margin-top:3rem;
	}
	
	.add-1{
		width:30%;
		height:auto;
		background:linear-gradient(45deg, black, #00000082);
	        margin-top: 2rem;
			    border-radius: 20px;
				    padding: 20px
	}
	
	.add-1 iconify-icon{
		
		
		font-size:3rem;
		color:#0bceaf;
		    display: flex;
    margin: auto;
    justify-content: center;
	}
	.add-1 h1{
		color:white;
		text-align:center;
		
	}
.add-1 p{
	
	color:white;
		text-align:center;
	
}
}


/*add end*/
/*web start*/
.por span{
	color:#0bceaf;
}

.website h1{
	text-align:center;
	margin-top:3rem;
}
.website h2{
	color:black;
	text-align:center;
}
.site img:hover{
	background-color:red;
}
/*web end*/

/*footer start*/
@media(min-width:390px){
footer{
	width:100%;
	height:300px;
	background-color:#0bceaf;
}

.icons{
	display: inline-flex;
	gap:20px;
	padding:20px;
margin-left:130px;
}
.icons iconify-icon{
	color:black;
	font-size:1.5rem;
} 
.ic{
	background-color:white;
	border-radius:50%;
	width:50px;
	height:50px;
	padding:10px;
	display:flex;
	margin:auto;
	justify-content:center;
	align-items:center;
	margin-bottom:2rem;
}
.icons2 span{
	color:white;
	padding:5px;
	font-weight:bold;
	margin-left:80px;
	
}
.icons2{
	align-items:center;
}
.icons2 p{
	color:white;
	text-align:center;
	padding:10px;
}
}	

@media(min-width:768px){
footer{
	width:100%;
	height:300px;
	background-color:#0bceaf;
}

.icons{
	display: inline-flex;
	gap:20px;
	padding:20px;
	margin-left:220px;
	
}
.icons iconify-icon{
	color:black;
	font-size:1.5rem;
	
} 
.ic{
	background-color:white;
	border-radius:50%;
	width:50px;
	height:50px;
	padding:10px;
	display:flex;
	margin:auto;
	justify-content:center;
	align-items:center;
	margin-bottom:2rem;
}
.icons2 span{
	color:white;
	padding:5px;
	font-weight:bold;
	
	
}
.icons2{
	align-items:center;
}
.icons2 p{
	color:white;
	text-align:center;
	padding:10px;
}
}	

@media(min-width:1024px){
footer{
	width:100%;
	height:300px;
	background-color:#0bceaf;
}

.icons{
	display: inline-flex;
	gap:20px;
	padding:20px;
	align-items:center;
	
}
.icons iconify-icon{
	color:black;
	font-size:1.5rem;
} 
.ic{
	background-color:white;
	border-radius:50%;
	width:50px;
	height:50px;
	padding:10px;
	display:flex;
	margin:auto;
	justify-content:center;
	align-items:center;
	margin-bottom:2rem;
}
.icons2 span{
	color:white;
	
	font-weight:bold;

	
}
.icons2{
	text-align:center;
}
.icons2 p{
	color:white;
	text-align:center;
	padding:10px;
}
}	

			
/*footer end*/