*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

* h1, h2{
	font-family: 'Josefin Sans', sans-serif
}
.container{
	width:90%;
}

.left span{
	
	border: 5px solid red;
    padding: 0px 14px;
    font-size: 1.2em;
    color: black;
	font-weight:bold;
}	

.header{
	background-color:black;
	width:100%;
	height:auto;
}

@media(min-width:390px){
.banner{
	background-color:#0bceaf;
	width:100%;
	height:auto;
}

.ban img{
	width:100%;
	height:auto;
	border-radius:50%;
}
.ban{
width:100%;
}
.ban-1 p,h1,h3{
	
	text-align:center;
	color:white;
}

.ban-1 button{
	width:100px;
	height:40px;
	justify-contanct:center;
	background-color:#0bceaf;
	color:white;
	border-color: 2px soild white;
	border-radius:50px;
	
	}
.ban-1 a{
	text-decoration:none;
}	
	
}



@media(min-width:768px){
.banner{
	background-color:#0bceaf;
	width:100%;
	height:auto;
	padding:20px;
}

.ban img{
	width:100%;
	height:auto;
	border-radius:50%;
}
.ban{
width:100%;
}
.ban-1 p,h1,h3{
	
	text-align:center;
	color:white;
}

.ban-1 button{
	width:150px;
	height:40px;
	justify-contanct:center;
	background-color:#0bceaf;
	color:white;
	border-color: 2px soild white;
	border-radius:50px;
	display:flex;
	margin:auto;
	padding:10px;
	
	
	}
.ban-1 a{
	text-decoration:none;
}	
	
}


@media(min-width:1024px){
.banner{
	background-color:#0bceaf;
	width:100%;
	height:auto;
	padding:20px;
}

.ban img{
	width:100%;
	height:auto;
	border-radius:50%;
}
.ban{
width:50%;
}
.ban-1{
	width:50%;
	padding-top:200px;
}

.banner-1{
	display:flex;
}
.ban-1 p,h1,h3{
	
	text-align:center;
	color:white;
	
}

.ban-1 button{
	width:150px;
	height:40px;
	justify-contanct:center;
	background-color:#0bceaf;
	color:white;
	border-color: 2px soild white;
	border-radius:50px;
	display:flex;
	margin:auto;
	padding:10px;
	
	
	}
.ban-1 span{
	color:pink;
}	
.ban-1 a{
	text-decoration:none;
}	
	
}
/*vasanth start*/

.vasanth{
	margin-top:4rem;
}


.image{
	width:50%;
}
.image img{
	width:350px;
	height:auto;
	margin:auto;
	    border-radius: 50px;
}
.image img::after{
	content: "";
    position: absolute;
    top: -20px;
    right: -35px;
    width: 100%;
    height: 100%;
    border: 5px solid #747474;
    z-index: -1;
	}
.index{
	width:50%;
}
.vasa-main{
	display:flex;
}

.call h1{
	margin-bottom:1rem;
}

.call span{
	color:red;
}

.call li{
  list-style:none;
	
	
	margin-bottom:1rem;
}
.call-1{
	position:relative;
}
.call-1 .cir{
	position:relative;

}
.call-1 h1{
	font-size:20px;
}
.call-1::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -13px;
    margin: auto;
    width: 2px;
    height: 85%;
    background-color: #cacdd6;
    z-index: -1;
	}
.call-1 .cir::before{
	content:"";
	position:absolute;
	width:16px;
	height:16px;
	border-radius:50%;
	left:-20px;
	top:2%;
	background:#fff;
	border:solid 4px red;
	}
	
	
/*skills start*/

/*skills end*/

 /*education start*/
@media(min-width:390px){
.box{
	
	    width: 150px;
    padding: 6px 20px;
    background-color:red;
    color: #fff;
    font-weight: 500;
    border-radius: 30px 0 60px 30px;
}	

.edu{
	width:100%;
	height:250px;
	background-color:#f4f5f8;
	margin-top:1rem;
	    background: linear-gradient(45deg, #c75555, #f3edef78);
		border-radius: 0px 30px 100px 0px;
	
}
.box1{
	width:150px;
	padding:10px 15px;
	background-color:gray;
	font-weight:500;
	color:white;
	border-radius:30px 0px 60px 30px;
	margin-top:2rem;
	
}

.rig{
	width:150px;
	padding:10px 15px;
	background-color:red;
	border-radius:30px 0px 60px 30px;
	color:white;
	margin-top:2rem;
}
}
@media(min-width:768px){
	
.edu-flex{
	display:flex;
}	
.edu-left{
	width:50%;
	    margin-top: 2rem
	
}
.edu-right{
	width:50%;
}
.box{
	
	    width: 150px;
    padding: 6px 20px;
    background-color:red;
    color: #fff;
    font-weight: 500;
    border-radius: 30px 0 60px 30px;
}	

.edu{
	width:80%;
	height:250px;
	background-color:#f4f5f8;
	margin-top:1rem;
	    background: linear-gradient(45deg, #c75555, #f3edef78);
	border-radius: 0px 30px 100px 0px;
}
.box1{
	width:150px;
	padding:10px 15px;
	background-color:gray;
	font-weight:500;
	color:white;
	border-radius:30px 0px 60px 30px;
	margin-top:2rem;
	
}

.rig{
	    width: 150px;
    padding: 6px 20px;
    background-color:red;
    color: #fff;
    font-weight: 500;
    border-radius: 30px 0 60px 30px;
}


}
@media(min-width:1024px){

.education h1{
	text-align:center;
	padding:10px 0px;
	color:red;
}	
.edu-flex{
	display:flex;
}	
.edu-left{
	width:50%;
	    margin-top: 2rem
	
}
.edu-right{
	width:50%;
}
.box{
	
	    width: 150px;
    padding: 6px 20px;
    background-color:red;
    color: #fff;
    font-weight: 500;
    border-radius: 30px 0 60px 30px;
}	

.edu{
	width:80%;
	height:250px;
	background-color:#f4f5f8;
	margin-top:1rem;
	background:linear-gradient(45deg, black, #dbcfcf82);
	border-radius: 0px 30px 100px 0px;
}
.box1{
	width:150px;
	padding:10px 15px;
	background-color:gray;
	font-weight:500;
	color:white;
	border-radius:30px 0px 60px 30px;
	margin-top:2rem;
	
}

.rig{
	    width: 150px;
    padding: 6px 20px;
    background-color:red;
    color: #fff;
    font-weight: 500;
    border-radius: 30px 0 60px 30px;
}


}
	/*education end*/
/*add start*/
@media(min-width:390px){
	.add{
		margin-top:3rem;
	}
	
	.add-1{
		width:100%;
		height:auto;
		background:linear-gradient(45deg, black, #00000082);
		    border-radius: 20px;
			    padding: 20px
	}
	
	.add-1:hover{
		transform:translateY(-20px);
		border-bottom:12px solid red;
		transition:2s ease;
	}
	
	.add-1 iconify-icon{
		
		
		font-size:3rem;
		color:red;
		    display: flex;
    margin: auto;
    justify-content: center;
	}
	.add-1 h1{
		color:white;
		text-align:center;
		
	}
.add-1 p{
	
	color:white;
		text-align:center;
	
}
}

@media(min-width:768px){
	.add-main{
		display:flex;
		justify-content:space-between;
		flex-wrap:wrap;
	}
	.add{
		margin-top:3rem;
	}
	
	.add-1{
		width:49%;
		height:auto;
		background:linear-gradient(45deg, black, #00000082);
	        margin-top: 2rem;
			    border-radius: 20px;
				    padding: 20px
	}
	
	.add-1 iconify-icon{
		
		
		font-size:3rem;
		color:red;
		    display: flex;
    margin: auto;
    justify-content: center;
	}
	.add-1 h1{
		color:white;
		text-align:center;
		
	}
.add-1 p{
	
	color:white;
		text-align:center;
	
}
}

@media(min-width:1024px){
	.add-main{
		display:flex;
		justify-content:space-between;
		flex-wrap:wrap;
	}
	.add{
		margin-top:3rem;
	}
	
	.add-1{
		width:30%;
		height:auto;
		background:linear-gradient(45deg, black, #00000082);
	        margin-top: 2rem;
			    border-radius: 20px;
				    padding: 20px
	}
	
	.add-1 iconify-icon{
		
		
		font-size:3rem;
		color:red;
		    display: flex;
    margin: auto;
    justify-content: center;
	}
	.add-1 h1{
		color:white;
		text-align:center;
		
	}
.add-1 p{
	
	color:white;
		text-align:center;
	
}
}


/*add end*/
/*web start*/
.website h1{
	text-align:center;
	margin-top:3rem;
}
.website h2{
	color:red;
	text-align:center;
}
.site img:hover{
	background-color:red;
}
/*web end*/

/*footer start*/
@media(min-width:390px){
footer{
	width:100%;
	height:auto;
	background-color:black;

}

.main h1{
	text-align:center;
	color:gray;
}
.main{
	padding:50px 0px;
}
.foot-1 p{
	color:gray;
	border-bottom: 2px dashed gray;
	width:30%;
	
}
.foot-1 p{
	margin-bottom:1.4rem;
	line-height:4rem;
}
.foot-1 span{
	color:white;
}
.foot-2 p{
	color:gray;
	border-bottom: 2px dashed gray;
	width:30%;
	
}
.foot-2 p{
	margin-bottom:1.4rem;
	line-height:4rem;
}
.foot-2 span{
	color:white;
	line-height:2rem;
}

.foot-3 p{
	color:gray;
	border-bottom: 2px dashed gray;
	width:30%;
	
}
.foot-3 p{
	margin-bottom:1.4rem;
	line-height:4rem;
}
.foot-3 span{
	color:white;
	line-height:2rem;
}

}
@media(min-width:768px){
footer{
	width:100%;
	height:auto;
	background-color:black;

}

.main h1{
	text-align:center;
	color:gray;
}
.main{
	padding:50px 0px;
}
.foot-1{
	width:100%;
}
.foot-1 p{
	color:gray;
	border-bottom: 2px dashed gray;
	width:30%;
	
}
.foot-1 p{
	margin-bottom:1.4rem;
	line-height:4rem;
}
.foot-1 span{
	color:white;
}

.fot-flex{
	display:flex;
}
.foot-2{
	width:50%;
}
.foot-2 p{
	color:gray;
	border-bottom: 2px dashed gray;
	width:30%;
	
}
.foot-2 p{
	margin-bottom:1.4rem;
	line-height:4rem;
}
.foot-2 span{
	color:white;
	line-height:2rem;
}

.foot-3{
	width:50%;
}
.foot-3 p{
	color:gray;
	border-bottom: 2px dashed gray;
	width:30%;
	
}
.foot-3 p{
	margin-bottom:1.4rem;
	line-height:4rem;
}
.foot-3 span{
	color:white;
	line-height:2rem;
}

}

@media(min-width:1024px){
footer{
	width:100%;
	height:auto;
	background-color:black;

}

.main h1{
	text-align:center;
	color:gray;
}
.main{
	padding:50px 0px;
	display:flex;
}
.foot-1{
	width:50%;
}
.foot-1 p{
	color:gray;
	border-bottom: 2px dashed gray;
	width:30%;
	
}
.foot-1 p{
	margin-bottom:1.4rem;
	line-height:4rem;
}
.foot-1 span{
	color:white;
}


.foot-2{
	width:100%;
}
.foot-2 p{
	color:gray;
	border-bottom: 2px dashed gray;
	width:40%;
	
}
.foot-2 p{
	margin-bottom:1.4rem;
	line-height:4rem;
}
.foot-2 span{
	color:white;
	line-height:2rem;
}

.foot-3{
	width:10%;
}
.foot-3 p{
	color:gray;
	border-bottom: 2px dashed gray;
	width:100%;
	
}
.foot-3 p{
	margin-bottom:1.4rem;
	line-height:4rem;
}
.foot-3 span{
	color:white;
	line-height:2rem;
}

}			
/*footer end*/