.first a{
	text-decoration:none;
	padding-left:100px;
	font-size:20px;
	
}
.first {
	text-align:right;
	padding:30px;
	background-color:#DDBADE;
	
}
.first a:hover{
	color:#11D6C2;
	
}
.three{
	background-image:url(img/Curbings.jpg);
	background-size:cover;
	
}

	


