.container{
	width:1200px;
	margin:auto;
}


h1{
	color:red;
	text-align:center;
}

.image img{
	width:350px;
	height:350px;
}


.flex{
	display:flex;
	padding:50px;
	
	

}

.later-flex{
	display:flex;
	justify-content:top;
	
}

.later h3{
	color:blue;
}

.ilon{
	color:blue;
	font-size:45px;
	padding: 37px 10px;
}