*{
	margin:20px 20px;
	padding:0;
	box-sizing:border-box;
}
.container{
	
	margin:30px 20px;
}

body{
	font-family: 'Roboto', sans-serif;
}
p{
	font-family: 'Roboto', sans-serif;
}

.head{
	text-align: center;
	
}
header h1{
	font-size:25px;
	margin-bottom:10px;
	font-weight:bold;
}
 
 header h2{
	 
	 font-size:13px;
	 margin-bottom:10px;
	 
 }
 
 header p{
	 font-size:13px;
	 margin-bottom:10px;
 }
 
 /*header section medio start*/
 
 @media (min-width:768px){
	 
    .head{
	text-align: center;
	
}
header h1{
	font-size:30px;
	margin-bottom:15px;
	font-weight:bold;
}
 
 header h2{
	 
	 font-size:18px;
	 margin-bottom:15px;
 }
 
 header p{
	 font-size:18px;
	 margin-bottom:15px;
 }
 
 } 
 
 
 @media (min-width:1024px){
	 
	 
	 	 .head{
	text-align: center;
	
}
header h1{
	font-size:32px;
	margin-bottom:15px;
	font-weight:bold;
}
 
 header h2{
	 
	 font-size:20px;
	 margin-bottom:15px;
 }
 
 header p{
	 font-size:20px;
	 margin-bottom:15px;
 }
 
 }
 /*header section medio end*/
 
 
 .section h1{
	 font-size:18px;
	 margin-bottom:10px;
	 font-weight:bold;
 }
 
 .section p{
	 font-size:12px;
	 margin-bottom:15px;
	 
	
}
.section h5{
	 
	font-size:15px;
	font-weight:bold;
	margin-bottom:10px;
}
 
 
 
  @media (min-width:768px){
   
   
    .container{
		 margin:2% 6%;
	 }
     
   
    .section h1{
	 font-size:25px;
	 margin-bottom:15px;
	 font-weight:bold;
 }
 
 .section p{
	 font-size:18px;
	 margin-bottom:15px;
	
}

.section h5{
	 
	font-size:18px;
	font-weight:bold;
	margin-bottom:10px;
}
 
  }


  @media (min-width:1024px){
     
	 
   
    .section h1{
	 font-size:28px;
	 margin-bottom:15px;
	 font-weight:bold;
 }
 
 .section p{
	 font-size:20px;
	 margin-bottom:15px;
	
}

.section h5{
	 
	font-size:20px;
	font-weight:bold;
	margin-bottom:10px;
}
 


}
 
 

.section2 h1, h2{
	
	font-size:20px;
	
}
.section2 span{
	color:blue;
}

 
 
 
 