.tapp{
	float:right;

}
.xxx{
	float:right;
}
.back{
	 background-color:#FFD966;
}
.hunder{
	color:blue;
}
.hlo{
	float:right;
}
.hima{
	color:blue;
}
.himalaya{
	float:right;
}
.tapp{
	overflow:"hidden";
	background-color:red;
}