p{
	color:#5a6570 !important;
}
.card{
	border:none !important;
}
.banner{
	background-color:#fef8f5 !important;
}
.card-body{
		background-color:#fef8f5 !important;
}
#banner-img img{
	position:relative;
    animation:move 2s infinite;
}
.but-all{
	background-color:#eb5d1e !important;
	border:none !important;
	color:#fff !important;
	text-decoration:none;
}
@keyframes move{
    from {bottom:0px;}
	to {bottom:10px};
	
}
.sericon{
	color:#eb5d1e;
}
.bannerhead h2{
	font-size: 1.6rem !important;
	font-weight:700 !important;
	color:#4e4039 !important;
}
.bannerhead p{
	font-size:1.1rem !important;
	color:#a08f86 !important;
}
@media(min-width:1024px){
.bannerhead h2{
	font-size: 3rem !important;
	font-weight:700 !important;
	color:#4e4039 !important;
}
.bannerhead p{
	font-size:1.7rem !important;
	color:#a08f86 !important;
}	
}
/*Banner*/
.abouthead h3{
	font-size:2.1rem !important;
	color:#4e4039 !important;
	font-weight:700 !important;
}
.abouthead p{
	font-size:1rem !important;
	color:#5a6570 !important;
}
.abouticon{
	font-size:3rem !important;
	color:#f39e7a !important;
}
.abicon h5{
	font-size:1.2rem !important;
	font-weight:700 !important;
	color:#7a6960 !important;
}

/*About*/
.service{
	background-color:#fef8f5 !important;
}
.servicehead h5{
	font-size:2rem !important;
	font-weight:700 !important;
	color:#c2b7b1 !important;
}
.servicehead h2{
	color:#4e4039 !important;
	font-size:2rem !important;
	font-weight:700 !important;

}
.servicehead h2::after{
	content:"";
	position:relative;
	width:60px;
	height:4px;
	background-color:#eb5d1e;
	display:flex;
	justify-content:center;
	align-items:center;
	left:47%;
	bottom:-20px;
}
.servicecont{
	box-shadow: 0 10px 29px 0 rgb(68 88 144 / 10%);
	padding:1.8rem;
	margin-bottom:2.5rem;
	border-radius:1rem;
}
.servicecont:hover{
	border-bottom:2px solid #eb5d1e;
	transform:translateY(-5px);
	transition: 0.2s;
	margin-top:-10px;
}
/*Service*/
.porthead h5{
	font-size:2rem !important;
	font-weight:700 !important;
	color:#c2b7b1 !important;
}
.porthead h2{
	color:#4e4039 !important;
	font-size:2rem !important;
	font-weight:700 !important;
	
}
.porthead h2::after{
	content:"";
	position:relative;
	width:60px;
	height:4px;
	background-color:#eb5d1e;
	display:flex;
	justify-content:center;
	align-items:center;
	left:47%;
	bottom:-20px;
}
.port{
	width:100% !important;
	height:auto !important;
	display:flex !important;
	flex-wrap:wrap !important;
}
.img-1{
	width:100% !important;
	height:auto !important;
	margin-bottom:2rem !important;
	border-radius:10px !important;
	position:relative;
}
.img-1::before{
	content:"";
	position:absolute;
	background-color: #8d808080;
	transition:all 0.4s;
	top:0;
	left:100%;
	right:12px;
	bottom:0;
	border-radius:10px !important;
}
.img-1:hover::before{
	left:12px;
}
.pfolio .pre-color{
	color: #EB5D1E !important;
}
.folio{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	opacity:0;
	padding-top:4rem;
	color:#fff;
	
}
.folink{
	background-color:#fff;
	color:red;
	border-radius:50%;
	padding:0.6rem;
}
.img-1:hover .folio{
	opacity:1;
	transition: all 0.4s;
}
.alink{
	color:black !important;
	font-size:1rem !important;
	font-weight:600 !important;
}
.alink:hover{
	color: #EB5D1E !important;
}
.img-1 img{	
		border-radius:10px !important;
		
}
.alink{
	color:black !important;
	font-size:1rem !important;
	font-weight:600 !important;
}
.alink:hover{
	color: #eb5d1e !important;
}
@media(min-width:768px){

.port{
		width:100% !important;
		height:auto !important;
		display:flex !important;
		flex-wrap:wrap !important;
}
.img-1{
		width:49% !important;
		height:auto !important;
		margin-bottom:2rem !important;
		border-radius:10px !important;

}
}
@media(min-width:1024px){
	.img-1{
		width:33% !important;
		height:auto !important;
		margin-bottom:2rem !important;
		border-radius:10px !important;
	}
	
	
}
/*Portfolio*/
.ask{
	background-color:#fef8f5 !important;
}
.faq h5{
	font-size:2rem !important;
	font-weight:700 !important;
	color:#c2b7b1 !important;
}
.faq h2{
	color:#4e4039 !important;
	font-size:2rem !important;
	font-weight:700 !important;
	
}
.faq h2::after{
	content:"";
	position:relative;
	width:60px;
	height:4px;
	background-color:#eb5d1e;
	display:flex;
	justify-content:center;
	align-items:center;
	left:47%;
	bottom:-20px;
}
summary{
	color:#343a40 !important;
	font-weight:700 !important;
}
/*faq*/
.teamhead h5{
	font-size:2rem !important;
	font-weight:700 !important;
	color:#c2b7b1 !important;
}
.teamhead h2{
	color:#4e4039 !important;
	font-size:2rem !important;
	font-weight:700 !important;

}
.teamhead h2::after{
	content:"";
	position:relative;
	width:60px;
	height:4px;
	background-color:#eb5d1e;
	display:flex;
	justify-content:center;
	align-items:center;
	left:47%;
	bottom:-20px;
}
.teamimage{
	display:flex !important;
	flex-wrap:wrap !important;
	width:100% !important;
	justify-content:space-between !important;
}
.team1{
	width:100% !important;
	height:auto !important;
	margin-bottom:1rem !important;
	position:relative;
	width:100%;
}
.teaminfo{
	width:100%;
	height:auto;
}
.teamname{
	position:absolute;
	opacity:0;
	top:0;
	right:10px;
	bottom:0;
	left:10px;
	text-align:center;
	background:linear-gradient(rgba(78, 64, 57, 0.1),rgba(78, 64, 57, 0.8));
	color:white;
	padding-top:160px;
	line-height:1.5;	
}
.team1:hover .teamname{
	opacity:1;
	transition:all 0.4s ease;
}
.teamicon{
	position:absolute;
	opacity:0;
	top:0;
	right:10px;
	bottom:0;
	left:10px;
	width:35px;
	display:flex;
	flex-direction:column;
	background-color:#4e403987;
}
.teamicon iconify-icon{
	padding:10px;
	font-size:1.4rem;
	color:#fff;
}
.team1:hover .teamicon{
	opacity:1;
	transition:all 0.4s;
}
@media(min-width:768px){

.team1{
		width:50% !important;
		height:auto !important;
		margin-bottom:1rem !important;
}
}
@media(min-width:1024px){

.team1{
		width:24% !important;
		height:auto !important;
		margin-bottom:1rem !important;
}
}
/*Team*/
.client{
	background-color:#fef8f5 !important;
}
.clienthead h2::after{
	content:"";
	position:relative;
	width:60px;
	height:4px;
	background-color:#eb5d1e;
	display:flex;
	justify-content:center;
	align-items:center;
	
	left:47%;
	bottom:-20px;
}

.clientimg{
		display:flex;
		justify-content:space-between;
		width:100%;
}
.client1{
		width:16%;
		height:auto;
}
.client1 img{
		width: 86px;
		height:auto;
		filter:grayscale(50%);
}
.client1 img:hover{	
		filter:none;
}

/*Client*/
.contact-head h5{
	font-size:2rem !important;
	font-weight:700 !important;
	color:#c2b7b1 !important;
}
.contact-head h2{
	color:#4e4039 !important;
	font-size:2rem !important;
	font-weight:700 !important;

}
.contact-head h2::after{
	content:"";
	position:relative;
	width:60px;
	height:4px;
	background-color:#eb5d1e;
	display:flex;
	justify-content:center;
	align-items:center;
	left:47%;
	bottom:-20px;
}
.phicon .conicon{
	border-radius:50% !important;
	width:50px;
	height:50px;
	display:flex;
	justify-content:center;
	align-items:center;
	color:#EB5D1E;
}
.phicon:hover .conicon{
	background-color:#EB5D1E !important;
	color:#fff;
}
.icon-con{
	border-bottom:4px solid #EB5D1E;
	border-top:4px solid #EB5D1E;
	
}
.in-input{
	width:100%;
	padding:0.5rem;
}
/*Contact Us*/
.news{
	background-color:#fef8f5 !important;
}
/*News*/
.foot-1 li a{
	text-decoration:none !important;
	color:black !important;
	font-size:1rem !important;
	color:#5a6570 !important;
}
.foot-1 iconify-icon{
	color:#EB5D1E !important;
	margin-right:0.5rem !important;
}
.foot-1 a:hover{
	color:#EB5D1E !important;
}
.foot-2 .iconlast iconify-icon{
	height:44px !important;
	width:44px !important;
	display:flex !important;
	border-radius:50% !important;
	justify-content:center !important;
	align-items:center !important;
	color:white !important;
	background-color:#EB5D1E !important;
}
#use-link {
	margin-left:-2rem !important;
}
.iconlast li{
	padding:0.2rem !important;
}
.foot-1{
	
	font-size: 14px !important;
	line-height: 40px !important;
}
/*Foot*/
.d-boot{
	text-decoration:none !important;
	color:#EB5D1E;
}

@media(min-width:390px){
	.fbelow{
		text-align:center !important;
	}
}
.footer{
	background-color:#fef8f5 !important;
}












