
@media(min-width:390px){
	
.first h1{
	color:red;
}


.image-first img{
	width:100%;
	height:auto;
	
}


}

@media(min-width:769px){
	
.first h1{
	color:green;
	font-size:3rem;
}


.image-first img{
	width:50%;
	height:auto;
	
}

	
}	


@media(min-width:1024px){
	
.first h1{
	color:blue;
	font-size:3.5rem;
}


.image-first img{
	width:90%;
	height:auto;
	
}
}