*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
*{
	font-family: 'Poppins', sans-serif;
}
.container{
	width:1200px;
	margin:auto;
}

.icon-1{
	color:orange;
}

.colors{
	color:orange;
} 


.high-main{
	display:flex;
	justify-content:space-between;
}
.banner{
	background-image:url("./hero-bg.jpg");
	height:100vh;
	width:100%;
	background-size:cover;
	
}

.head-main{
    background-color:#000000D9;
	width:100%;
	height:80px;
	margin-top:15px;
	padding:3px;
	position:fixed;
	border-bottom:1px solid #37332a;
}

.head-1 h1{
	font-size:30px;
    color:white;
}
.navtop-1 li{
	list-style-type:none;
}
.navtop-1 li a {
	text-decoration:none;
	color:white;
	padding:5px;
}
.navtop-1{
	display:flex;
	padding:5px;
	gap:10px;
	margin-left:150px;
	
	
}
.navtop-1 a:hover{
	color:orange;
}
.head-flex{
;
	display:flex;
	justify-content:space-between;
	z-index: 1000;
	margin:20px;
	
	word-spacing:15px;
	
}
.buts{
	
	width:200px;
	height:30px;
	border-radius:50px;
	border:2px solid orange;
	background:none;
	color:white;
	
	
}
.less-main{
	margin-top:130px;
	
	margin-left:60px;
	padding:20px;
	color:white;
}

.less h1{
	font-size:50px
}
.less p{
	font-size:20px;
}

.less h1{
	text-decoration:none;
	padding:5px;
	
}
.buts:hover{
	background-color:orange;
}





.butte{
	width:150px;
	height:30px;
    border:2px solid orange;
	border-radius:50px;
	background:none;
	color:white;
	
}
.butte:hover{
	background-color:orange;
}



/*quasi start*/

/*.quasi{
	background-image: url(../img/about-bg.jpg);
	background-size:cover;
	width:100%;
	height:600px;
	
}*/

.quasi{
	position:relative;

}
.quasi img{
	height:auto;
	width:100%;
	background-color:rgba(0 ,0 ,0 ,0.8);

}

.quasi-main span{
	color:#fff;
}
.quasi-main{
	display:flex;
	padding:50px;
	position:absolute;
	top: 101px;
	margin:auto;

}

.quasi-left h1{
	font-size:20px;
	padding:20px;
	color:#fff;
}

.quasi-left p{
	color:#fff;
	padding:25px;
	font-size:15px;
}
.quasi-left{
	padding:30px;
	
}



.colors-1{
	font-size:20px;
	color:orange;
	
}
.quasi-right img{
	width:500px;
	height:450px;
	border:7px solid gray;
	

}

/*--quasi end--*/



/*--our start--*/

.our-head{
	background-color:#151717;
	width:100%;
	height:600px;
}
.our{
	width:100%;
	height:600px;
	background-color:#000000D9;
}

.our-main h3{
	color:white;
}
.our-main h1{
	color:orange;
}

.our-flex{
	display:flex;
    justify-content:space-between;
	padding:50px;
}
.our-box{
	width:33%;
	height:250px;
	background-color:#1a1814;;
	color:white;
	padding:20px;
}
.our-box:hover{
	background-color:orange;
}


.our-box h1{
	padding:5px;
	color:orange;
}

/*--our end--*/



/*--menu start--*/
 
.menu{
	width:100%;
	height:800px;
	background-color:#0c0b09;
} 

.manu-main h3{
	color:white;
}



.manu-main h1{
	color:orange;
	
	font-size:30px;

}

.menu-ang a{
	
	font-size:25px;
    text-decoration:none;
    padding:10px;
	
	
}
.menu-ang{
	margin-left:350px;
	margin-top:100px;
}

.menu-ang a{
	color:white;
}

.menu-1red img{
	 width:80px;
	 height:80px;
	 border-radius:50%;
	 border:5px solid gray;
}


.menu-1reds h2{
	
	color:white;
}

.menu-1reds p{
	
	color:gray;
}


.menu-1{
	display:flex;
	gap:25px;
	margin-top:20px;
	width:50%;
}

.menu-2{
	display:flex;
	gap:25px;
	margin-top:20px;
	width:50%;
}
.menu-3{
	display:flex;
	gap:25px;
	margin-top:20px;
	width:50%;
}

.menu-4{
	display:flex;
	gap:25px;
	margin-top:20px;
	width:50%;
}

.menu-5{
	display:flex;
	gap:25px;
	margin-top:20px;
	width:50%;
}


.menu-6{
	display:flex;
	gap:25px;
	margin-top:20px;
	width:50%;
}


.menu-7{
	display:flex;
	gap:25px;
	margin-top:20px;
	width:50%;
}


.menu-9{
	display:flex;
	gap:25px;
	margin-top:20px;
	width:50%;
}




.menu-flex{
	display:flex;
	
}

.menu-ang a:hover{
	
	
	color:orange;
}

.menu-1reds h2:hover{
	
	color:orange;
}

/*--menu end--*/





/*--check start--*/

.chack{
	background-color:#191C1B ;
	width:100%;

}

.checks{
	margin-top:20px;
}

.chacks h1{
	
	color:white;
}
.chacks h3{
	color:gray;
}


.chack{
height:600px;
	
}

.chack-1 a{
	color:white;
}
.chack-1{
	border-right: solid 2px orange;
}
.chack h1{
	font-size:40px;
	
}

.chack-1 h2{
	background-color:orange;
	padding:10px 10px;
	width:300px;
	height:50px;
	
}

.chack a:hover{
	
	color:orange;
}
.chack-para h2{
	color:white;
}	

.chack-para p{
	color:gray;
}




.chack-flex{
	 display:flex;
	 flex-wrap:wrap;
	 padding:30px;
	 height:400px;
}


.chack-para{
	
	padding:15px;
}
.chack-img img{
	
	width:200px;
	height:200px;
	
}
/*--check end--*/




/*--event start--*/


.event{
	
	background-img:url("events-bg.jpg.jpg");
	background:cover;
	
	width:100%;
	height:800px;
	
}
.event-big h1{
	
	font-size:30px;
	color:orange;
}
.event-flex{
	display:flex;
	
}
.event-img img{
	
	width:600px;
	height:400px;
}

.event-para h1{
	
	font-size:30px;
	color:orange;
	
}
.event-para{
	padding:0px 15px;
}



/*--event end--*/




/*--table start--*/




.table{
	background-color:black;
	width:100%;
	height:500px;
}
.tables h1{
	
	font-size:30px;
	color:orange;
	
}
.tables h3{
	color:gray;
	
	
}
input{
	
	width:350px;
	height:50px;
	margin-top:20px;
	margin-right:20px;
	background-color:black;
	color:gray;
    border:2px solid gray;

}
input:hover{
	border-color:orange;
}

textarea{
	width:91%;
	height:150px;
	margin-top:20px;
	background-color:black;
	border:2px solid gray;
    color:gray;
	
}


.table-buts{
	width:150px;
	height:50px;
	background-color:orange;
	border-radius:50px;
	text-align:center;
	color:white;
	margin-left:450px;
}

/*--table end--*/




/*--test start--*/
 
 .test{
	 background-color:#36413D ;
	 width:100%;
	 height:600px;
 }
 
 .test-box{
	 
	
 }
 
 
.test-main{
	display:flex;
	gap: 2rem;
} 
 
.test-1{

padding:50px;
		 
}
.test-1 h3{
	color:gray;
}
 
.test-1 h1{
	color:orange;
	font-size:30px;
}

.test-box1{
	background-color:black;
	width:350px;
    color:white;
	height:250px;
} 
.test img{
	width:100px;
	height:100px;
	border-radius:50%;
	border:5px solid gray;
	margin-top:-50px;
	margin-left:30px;
	
	
}

.test-box h3{
	color:white;
}
.test-box p{
	color:white;
}
.test-color{
	color:orange;
	font-size:30px;
}
 
/*--test end--*/



/*gallery start*/

.gallery{
	background-color:black;
	width:100%;
	height:900px;
}


.gallery-1{
	padding:40px 70px;
}
.gallery-1 h1{
	
	color:orange;
	font-size:40px;
	
}

.gallery-1 h3{
	color:gray;
}

.gallery-image img{
	width:325px;
	height:300px;
	border:1px solid gray;
}

.gallary-main{
	display:flex;
	
	justify-content:space-between;
	flex-wrap:wrap;
}
/*gallery end*/

/*chefe start*/

.chefs{
	background-color:black;
	width:100%;
	height:600px;
}

.chefs-1 h3{
	color:gray;
}


.chefs-1 h1{
	color:orange;
	font-size:30px;
}

.chefs-image img{
	width: 397px;
	height:400px;
	padding:20px;
}
/*chefe end*/



/*map start*/

.map{
	
	background-color:black;
	width:100%;
	height:600px;
}

.map{
	
	padding:80px;
}
.map-main iframe{
	
	width:100%;
	height:350px;
	
}



.map-1 h3{
	
	color:gray;
}

.map-1 h1{
	
	color:orange;
    font-size:40px;
	
}

.map-main{
	width:100%;
	height:300px;
	
}
/*map end*/


/*loction start*/

.loction{
	background-color:black;
	width:100%;
	height:600px;
	
}

.loction-colors {
	padding: 10px;
	color:white;
	font-size:30px;
	background-color:orange;
	border-radius:50px;
	width:50px;
	height:50px;
	
}

.loction-1 h2{
	color:white;
}
.loction-1 p{
	
	color:gray;
}

.loction-main{
	display:flex;
	padding: 10px 0;
}

.loction-1{
	
	width:50%;
}

.loction-para{
	margin-left:20px;
}

.loction-flex{
	display:flex;
}


.inputs{
	
	width:97%;
	
}

.loction-buts{
	
	width:180px;
	height:40px;
	background-color:orange;
	border-radius:50px;
	color:white;
	font-weight:bold;
	margin-left:300px;
	margin-top:10px;
	
	
	
}


.loction-box{
	
	margin-left:40px;
	
}

.box-in{
	
	width:400px;
	
}



/*start end*/


/*footer start*/

.footer{
	background-color:black;
	width:100%;
	height:400px;
}

.footer-1p{
	
	padding:10px;
}


.footer-icon{
	color:orange;
	margin-top: 16px;
}

.footer-flex{
	display:flex;
	gap:57px;
}
.foot{
	color:white;
}
.footer-1 h3{
	color:white;
	padding:15px;
	
	
}

.footer-1 p{
	color:white;
	font-family: "Playfair Display", serif;
	padding:15px;
}


.footer-2 h2{
	
	color:white;
}

.footer-2 span{
	color:white;
	padding:15px;
	
}

.footer-3 h2{
	
	color:white;	
}

.footer-3 span{
	color:white;
	
}

.footer-4 h4{
	
	color:white;
}
.footer-4 p{
    
	color:white;
}





/* footer end*/

.last-foot p{
	
	color:white;
	text-align:center;
	margin-top:25px;
	
}

.last-fot{
	
	color:orange;
	
	
}
hr{
	color:gray;
}


